* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

.page{
  width: 100%;
 
  background-color: black;
 height: 100%;
}
.search{
 margin-top: 60px;
  border: black;
  background-color: aliceblue;
  border-radius: 25px;
  margin-left: 540px;
  width: 370px;
  height: 40px;
  justify-items: center;
  display: block;
  padding: 10px;
  font-size: 20px;
  
}
.shadow{
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  
}
.shadow-1{
 color: aliceblue;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-top: 160px;
}
.date{
  color: aliceblue;
}
.boxes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-left: 60px;
  margin-top: 100px;
  column-gap: 50px;
  row-gap: 30px;
}
.imgpath{
  position: absolute;
  width: 260px;
  height: 150px;
}

@media (max-width: 800px) {
  .page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .page {
    grid-template-columns: 1fr;
  }
 
}